.Img{
  display: inline-block;
}

  .slick-arrow {
    background-color: rgba(0, 0, 0, 0.50) !important;
    width: 50px !important;
    height: 50px !important;
    border: 5px rgba(238, 5, 5, 0.50) solid;
    border-radius: 25px;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 2000;
}

.slider{
  margin: 2% auto;
  width: 80%;

}
